body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  *{
    box-sizing: border-box;
  }
body{
  margin: auto;
  height: 100vh;
  font-family: Inter, sans-serif;
  background-color: #282D35;
}
.titleBox{
  display: flex;
  align-items: center;
  background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}
.titleBox .titleBox .sideTitle{
  margin: 0;
}
.titleBox .mainTitle{
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}
.titleBox .sideTitle{
  color: #DEEBF8;
  font-weight: 600;
}

.imgLogo{
  height: 30px;
  margin-right: 7px;
}
.contentBox{
  padding: 57px 27px;
  color: white;
  background-image: url(./Group.png);
  background-repeat: no-repeat;
  background-position: right 75%;

}
.contentTitle{
  margin: 0;
  font-size: 39px;
  letter-spacing:  -0.05em;
}
.contentList{
  margin-top: 46px;
}
.classLi{
  line-height: 19px;
  padding-block: 10px;
}
.classLi::marker {
  font-size: 1.4rem;
    color: #61DAFB;
}
